{% extends "persona.html" %}

{% block content %}
<div class="w3-display-middle">

    <h1 class="w3-jumbo w3-animate-opacity w3-center">
        {{name}}
    </h1>

    {% if exist %}
        <p class="w3-large w3-center">management dashboard.</p>

        <div class="w3-card w3-ul w3-sand">
            <li class="w3-container">
                <label class="w3-xlarge w3-padding">Alias Management</label>
                <i class="material-icons w3-button w3-xlarge w3-right" 
                    onclick="w3.toggleShow('#alias_list')">keyboard_arrow_down</i>
            </li>

            <li class="w3-large w3-bar" id="alias_list" style="display:none;">
                <div class="w3-bar-item">{{name}} (default)</div>
                <span class="material-icons w3-bar-item w3-btn w3-right" 
                    onclick="w3.toggleShow('#alias_name')">control_point</span>
            </li>
            {% for alias in aliases %}
                <li class="w3-large w3-bar" id="alias_list" style="display:none;">
                    <div class="w3-bar-item">{{alias.name}}</div>
                    <button type="submit" formmethod="DELETE"
                        class="material-icons w3-bar-item w3-btn w3-right">delete</button>
                </li>
            {% endfor %}

            <form id="alias_name" style="display:none;" method="POST" 
                action="{{url_for('persona', name=name, action='alias')}}">
                {{aliasform.alias(class_="w3-input w3-border-top w3-sand w3-padding w3-large",
                            placeholder="New Alias")}}
            </form>
        </div>
    {% else %}
        <p class="w3-large w3-center">
            ...doesn't exist yet. If you've got the goods, though, you can create {{name}}
        </p>
    {% endif %}

    </br>

    <form 
        class="w3-card w3-ul w3-sand" 
        method="POST" enctype="multipart/form-data" 
        action="{{url_for('persona', name=name, action='upload')}}">

        <li class="w3-xlarge">Upload Documents</li>
        <li class="w3-container">
            {{ upload.file(class_="w3-bar-item w3-button") }}
            <button class="w3-bar-item w3-button" type=submit>Upload</button>  
        </li>
    </form> 

</div>
{% endblock %}