{% extends "layout.html" %}

{% block body %}
    <div class="w3-card w3-display-middle w3-black w3-margin">
        <blockquote class="w3-container w3-leftbar w3-xxlarge w3-sand w3-round-xxlarge w3-serif" >
            <p>{{ engine.make_sentence() }}</p>
        </blockquote>
        <div class="w3-bar w3-black">
            <label class="w3-large w3-bar-item w3-left-align w3-padding">{{person.name}}</label>
            <i class="material-icons w3-dropdown-click w3-button w3-bar-item w3-sand w3-round-xlarge w3-right" onclick="w3.toggleShow('#persona_upload')">cloud_upload</i>
            <form class="w3-dropdown-content w3-bar-block w3-card" id="persona_upload" style="display:none;" method="POST" enctype="multipart/form-data">
                <label class="w3-bar-item w3-margin">Upload documents for this persona</label>
                {{ upload.file(class_="w3-bar-item w3-button") }}
                <button class="w3-bar-item w3-button" type=submit>Upload</button>
            </form> 
        </div>  
    </div>
{% endblock %}