{% extends "layout.html" %}
{% block body %}
    <div id="persona_enrollment_form">
        <form method=post enctype=multipart/form-data action="/upload">
            <div>
                <input type=text name=name>
            </div></br>
            <div>
                <input type=file name=file>
            </div></br>
            <div>
                <select name=func>
                    <option selected=true value="markovify">markovify</option>
                </select>
            </div></br>
            <div>
                <input type=submit value=Upload>
            </div>
        </form>
    </div>
{% endblock %}